{{>head}}
<body>
    <section id="fst-cont">
        <div id="sec-cont">
            <nav id="nav">
                <div id="brand">
                    <h1>Bloom</h1>
                </div>
                <ul id="main">
                    <li><strong><a id="main-sub-li_01" href="#">Home<br class="main-br"></a></strong></li>
                    <li><strong><a id="main-sub-li_02" href="#services">Services<br class="main-br"></a></strong></li>
                    <li><strong><a id="main-sub-li_03" href="#about">About<br class="main-br"></a></strong></li>
                    <li><strong><a id="main-sub-li_04" href="#contect">Contect<br class="main-br"></a></strong></li>
                    <li><strong><a id="main-sub-li_05" href="#">Q&A<br class="main-br"></a></strong></li>
                    <li><button id="signin"><a id="main-sub-li_06" href="#"><strong>Sign in <br class="main-br"></strong><i class="fad fa-laugh-wink"></i></a></button></li><br class="main-br">
                </ul>
                <li><button id="nav-handel"><i class="fas fa-bars"></i></button></li>
            </nav>
            <div id="thir-cont">
                <div id="thir-cont-sub_01">
                    <p id="q_0">Activate your followers, don't just collect them like stamps</p>
                        <br>
                        <br>
                    <p id="q_0-sub">get hired, heiger ,seek job,get job , all in a single click</p>
                        <br>
                        <br>
                        <br>
                    <button type="submit" id="gts" class="thir-cont-sub-btnn"><strong>Get Started</strong></button>
                </div>
            </div>
        </div>
    </section>
    <section id="sec_02">
        <div id="sec_02M">
            <div class="sec_02M-sub"><strong><i class="fas fa-user-tie"></i><br><br class="sec_02M-br-alt"> 365 <br class="sec_02M-br">followers </strong></div>
            <div class="sec_02M-sub-vr"></div>
            <div class="sec_02M-sub-hrM"><hr class="sec_02M-sub-hr"><br></div>
            <div class="sec_02M-sub"><strong><i class="fas fa-user-tie"></i> <br><br class="sec_02M-br-alt"> 365 <br class="sec_02M-br">followers </strong></div>
            <div class="sec_02M-sub-vr"></div>
            <div class="sec_02M-sub-vrM"><hr class="sec_02M-sub-hr"><br></div>
            <div class="sec_02M-sub"><strong><i class="fas fa-user-tie"></i> <br><br class="sec_02M-br-alt"> 365 <br class="sec_02M-br">followers </strong></div>
            <div class="sec_02M-sub-vr"></div>
            <div class="sec_02M-sub-vrM"><hr class="sec_02M-sub-hr"><br></div>
            <div class="sec_02M-sub"><strong><i class="fas fa-user-tie"></i> <br><br class="sec_02M-br-alt"> 365 <br class="sec_02M-br">followers </strong></div>
        </div>
    </section>
    <section id="sec_022"></section>
    <section id="services">

        <div id="service-head">
            <p class="service-head_00">OUR SERVICES<p><br>
            <p class="service-head_01">What do <span class="service-head_01-sub">We</span> provide <span class="service-head_01-sub">You</span></p><br>
            <p class="service-head_02">At  vero  eos  et  accusamus  et  iusto  odio  dignissimos  ducimus  qui  blanditiis  praesentium  <span><br></span> voluptatum  deleniti  atque  corrupti  quos  dolores</p>
        </div>
        <br>
        <div id="serv_01">
            <div class="serv_01" id="serv_01_00"><p><i class="fas fa-city"></i></p><br><p class="serv_01-head"> Amazing Local Places</p> <br><p class="serv_01-p">At vero eos et accusamus et iusto odio <br>dignissimos ducimus qui blanditiis <br>praesentium voluptatum.</p></div>
            <div class="serv_01" id="serv_01_01"><p><i class="fas fa-city"></i><br><br><p class="serv_01-head"> Amazing Local Places</p> <br><p class="serv_01-p">At vero eos et accusamus et iusto odio <br>dignissimos ducimus qui blanditiis <br>praesentium voluptatum.</p></div>
            <div class="serv_01" id="serv_01_02"><p><i class="fas fa-city"></i><br><br><p class="serv_01-head"> Amazing Local Places</p> <br><p class="serv_01-p">At vero eos et accusamus et iusto odio <br>dignissimos ducimus qui blanditiis <br>praesentium voluptatum.</p></div>
            <div class="serv_01" id="serv_01_03"><p><i class="fas fa-city"></i><br><br><p class="serv_01-head"> Amazing Local Places</p> <br><p class="serv_01-p">At vero eos et accusamus et iusto odio <br>dignissimos ducimus qui blanditiis <br>praesentium voluptatum.</p></div>
        </div>
    </section>
</body>
{{>footer}}