{{>head}}
<body>
    <section id="fst-cont" data-aos="fade-in" data-aos-duration="90000">
        <div id="sec-cont">
            <nav id="nav">
                <div id="brand">
                    <h1>gFormula</h1>
                </div>
                <ul id="main">
                    {{!-- <li><strong><a id="main-sub-li_01" href="#">Home<br class="main-br"></a></strong></li> --}}
                    <li><strong><a id="main-sub-li_02" href="#services">Services<br class="main-br"></a></strong></li>
                    <li><strong><a id="main-sub-li_03" href="#about">About<br class="main-br"></a></strong></li>
                    <li><strong><a id="main-sub-li_04" href="#contect">Contect<br class="main-br"></a></strong></li>
                    <li><strong><a id="main-sub-li_05" href="#">Q&A<br class="main-br"></a></strong></li>
                    {{!-- <li><button id="signin"><a id="main-sub-li_06" href="#"><strong>Sign in <br class="main-br"></strong><i class="fas fa-handshake"></i></a></button></li><br class="main-br"> --}}
                </ul>
                <li><button id="nav-handel"><i class="fas fa-bars"></i></button></li>
            </nav>
            <div id="thir-cont">
                <div id="thir-cont-sub_01">
                    <p id="q_0" data-text="" data-aos="fade-up-right" data-aos-duration="4000">WELCOME TO <span id="_g"><br>G FORMULA</span></p>
                        <br>
                        <br>
                    <p id="q_0-sub" data-aos="fade-up-right" data-aos-duration="4000">A NEW PLATEFORM OF NORTH EAST INDIA BUILT FOR BUILDING YOU THE WAY TO SUCCESS</p>
                        <br>
                        <br>
                        <br>
                    {{!-- <button type="submit" id="gts" class="thir-cont-sub-btnn"><strong>Get Started</strong></button> --}}
                </div>
            </div>
        </div>
    </section>
    {{!-- ---------------------------------------------------------------------------------- --}}
    {{!-- ---------------------------------------------------------------------------------- --}}
    {{!-- ---------------------------------------------------------------------------------- --}}
    <section id="sec_02"  data-aos="fade-up" data-aos-duration="4000">
        <div id="sec_02-sub">
        <div id="sec_02M">
            <div id="sec_02-in">
               <div class="sec_02-flx" id="sec_02-in-sub_01"> 

                    <ul class="sec_02-flex">
                        <li class="box">
                            <div class="percent">
                                <svg>
                                    <circle cx="40" cy="40" r="40"></circle>
                                    <circle cx="40" cy="40" r="40" class="ccl"></circle>
                                </svg>
                                <div class="number">
                                    <h2 class="num_inc" data-target="87"></h2><h2>%</h2>
                                    <br><br>
                                    <br><br><br><br><br>
                                </div>
                            </div>
                        </li>
                        <li class="box">
                                <div class="percent">
                                    <svg>
                                        <circle cx="40" cy="40" r="40"></circle>
                                        <circle cx="40" cy="40" r="40" class="ccl"></circle>
                                    </svg>
                                    <div class="number">
                                        <h2 class="num_inc" data-target="87"></h2><h2>%</h2>
                                        <br><br>
                                        <br><br><br><br><br>
                                    </div>
                                </div>
                        </li>
                        <li class="box">
                                <div class="percent">
                                    <svg>
                                        <circle cx="40" cy="40" r="40"></circle>
                                        <circle cx="40" cy="40" r="40" class="ccl"></circle>
                                    </svg>
                                    <div class="number">
                                        <h2 class="num_inc" data-target="87"></h2><h2>%</h2>
                                        <br><br>
                                        <br><br><br><br><br>
                                    </div>
                                </div>
                        </li>
                    </ul>
                </div>
                <div class="sec_02-flx" id="sec_02-in-sub_01"> 
                    <ul class="sec_02-flex">
                        <li class="box">
                            <div class="percent">
                                <svg>
                                    <circle cx="40" cy="40" r="40"></circle>
                                    <circle cx="40" cy="40" r="40" class="ccl"></circle>
                                </svg>
                                <div class="number">
                                    <h2 class="num_inc" data-target="87"></h2><h2>%</h2>
                                    <br><br>
                                    <br><br><br><br><br>
                                </div>
                            </div>
                    </li>
                        <li class="box">
                            <div class="percent">
                                <svg>
                                    <circle cx="40" cy="40" r="40"></circle>
                                    <circle cx="40" cy="40" r="40" class="ccl"></circle>
                                </svg>
                                <div class="number">
                                    <h2 class="num_inc" data-target="87"></h2><h2>%</h2>
                                    <br><br>
                                    <br><br><br><br><br>
                                </div>
                            </div>
                    </li>
                        <li class="box">
                            <div class="percent">
                                <svg>
                                    <circle cx="40" cy="40" r="40"></circle>
                                    <circle cx="40" cy="40" r="40" class="ccl"></circle>
                                </svg>
                                <div class="number">
                                    <h2 class="num_inc" data-target="87"></h2><h2>%</h2>
                                    <br><br>
                                    <br><br><br><br><br>
                                </div>
                            </div>
                    </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <svg style="position: absolute; overflow-x: hidden !important; height:0px !important; width:0% !important;">
        <defs>
            <linearGradient id="GradientColor">
               <stop offset="0%" stop-color="#e91e63" />
               <stop offset="100%" stop-color="#673ab7" />
            </linearGradient>
         </defs>
    </svg>
    {{!-- ---------------------------------------------------------------------------------- --}}
    {{!-- ---------------------------------------------------------------------------------- --}}
    {{!-- ---------------------------------------------------------------------------------- --}}
    <section id="services" data-aos="fade-up" data-aos-duration="4000">

        <div id="service-head">
            <p class="service-head_00">OUR SERVICES<p><br>
            <p class="service-head_01">What do <span class="service-head_01-sub">We</span> provide <span class="service-head_01-sub">You</span></p><br>
            <p class="service-head_02">At  vero  eos  et  accusamus  et  iusto  odio  dignissimos  ducimus  qui  blanditiis  praesentium  <span><br></span> voluptatum  deleniti  atque  corrupti  quos  dolores</p>
        </div>
        <br>
        <div id="serv_01">
            <div class="serv_01" id="serv_01_00" data-aos="fade-up" data-aos-duration="70000"><p><i class="fas fa-city"></i></p><br><p class="serv_01-head"> Amazing Local Places</p> <br><p class="serv_01-p">At vero eos et accusamus et iusto odio <br>dignissimos ducimus qui blanditiis <br>praesentium voluptatum.</p></div>
            <div class="serv_01" id="serv_01_01" data-aos="fade-up" data-aos-duration="70000"><p><i class="fas fa-city"></i><br><br><p class="serv_01-head"> Amazing Local Places</p> <br><p class="serv_01-p">At vero eos et accusamus et iusto odio <br>dignissimos ducimus qui blanditiis <br>praesentium voluptatum.</p></div>
            <div class="serv_01" id="serv_01_02" data-aos="fade-up" data-aos-duration="70000"><p><i class="fas fa-city"></i><br><br><p class="serv_01-head"> Amazing Local Places</p> <br><p class="serv_01-p">At vero eos et accusamus et iusto odio <br>dignissimos ducimus qui blanditiis <br>praesentium voluptatum.</p></div>
            <div class="serv_01" id="serv_01_03" data-aos="fade-up" data-aos-duration="70000"><p><i class="fas fa-city"></i><br><br><p class="serv_01-head"> Amazing Local Places</p> <br><p class="serv_01-p">At vero eos et accusamus et iusto odio <br>dignissimos ducimus qui blanditiis <br>praesentium voluptatum.</p></div>
        </div>
    </section>
    <section id="sec_03" data-aos="fade-up-right" data-aos-duration="4000">
        <section id="_sec_03M">
            <div id="_sec_03M-sub"  data-aos="fade-up-left" data-aos-duration="4000">   <!--flex-->
                <div id="_sec_03-cont_00">
                    <p id="sec_03_p_01">UNLIMITED DEALS</p>
                    <P id="sec_03_p_02">Join Us Explore Our Categories</P>
                    
                </div>
                <div id="sec_03-btnnM">
                    <br>
                    <p id="sec_03_p_03">Explore some of the best deals</p>
                    <br>
                    <button id="sec_03-btnn">EXPLORE</button>
                </div>

            </div>
        </section>  
    </section>
    <section id="sec_04" data-aos="fade-up" data-aos-duration="4000">
        <section id="sec_04M">
            <section id="sec_04H">
                <p class="sec_04H_p_01"  data-aos="fade-up-right" data-aos-duration="4000"><span class="px2"></span> Explore Our Categories</p>
                <p class="sec_04H_p_02"  data-aos="fade-up-right" data-aos-duration="4000"><span class="px2"></span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non, beatae!</p>
             </section>
             <br>
             <section id="sec_04Mcard">
                <div class="_2div_card"  data-aos="fade-up-right" data-aos-duration="4000">
                    <div class="_2dcard_01"><i class="fas fa-user-tie"></i></div>
                    <div class="_2dcard_02">
                        <p class="_2dcard_02_p_01">Squadhelp </p>
                        <br> 
                       <p class="_2dcard_02_p_02">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
                    </div>
                </div>
                <div class="_2div_card"  data-aos="fade-up" data-aos-duration="4000">
                    <div class="_2dcard_01"><i class="fas fa-user-tie"></i></div>
                    <div class="_2dcard_02">
                        <p class="_2dcard_02_p_01">Squadhelp </p>
                        <br> 
                       <p class="_2dcard_02_p_02">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
                    </div>
                </div>
                <div class="_2div_card"  data-aos="fade-up" data-aos-duration="4000">
                    <div class="_2dcard_01"><i class="fas fa-user-tie"></i></div>
                    <div class="_2dcard_02">
                        <p class="_2dcard_02_p_01">Squadhelp </p>
                        <br> 
                       <p class="_2dcard_02_p_02">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
                    </div>
                </div>
                <div class="_2div_card"  data-aos="fade-up" data-aos-duration="4000">
                    <div class="_2dcard_01"><i class="fas fa-user-tie"></i></div>
                    <div class="_2dcard_02">
                        <p class="_2dcard_02_p_01">Squadhelp </p>
                        <br> 
                       <p class="_2dcard_02_p_02">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
                    </div>
                </div>
            </section>
        </section>
    </section>
</body>
{{>footer}}