{{>head}}
{{!-- <body onload="ld_func_00()"> --}}
    <body>
    {{!-- <div id="prLoad">
        <section id="load">
            <div id="loadM">
                <div id="loadW">
                    <div id="inner_01"></div>
                    <div id="inner_02"></div>
                    <div id="inner_03"></div>
                    <div id="inner_04"></div>
                    <div id="inner_05"></div>
                    <div id="inner_06"></div>
                    <div id="inner_07"></div>
                    <div id="inner_08"></div>
                </div>
            </div>
            <br>
            <div>
                <p style="font-size: 3rem;font-weight: 700; color: #fff;text-align: center;">LOADING...</p>
            </div>
        </section>
    </div> --}}
    {{!-- {{>preload}} --}}
        <section id="banner">
        <div id="ban-color">
           <div id="ban-colo_01"><h1></h1></div>
           <div id="ban-colo_2"><h1></h1></div>
        </div>
        <div id="ban-main">
            <div id="ban-cont_01">
                <div id="ban-cont_01-sub">
                    <h1><span id="wlc">WELLCOME TO</span><span><br></span><span id="gf">G Formula</span><span><br><br></span><span><p id="gf_p">A NEW PLATEFORM OF NORTH EAST INDIA BUILT FOR BUILDING YOU THE WAY TO SUCCESS</p></span><span><br></span><button id="joi_btnn">JOiN US</button></h1>
                </div>
            </div>
            <div id="ban-cont_02">
                <ul id="ban-cont_02-ul_01">       
                    <li>
                        <figure>
                            <picture>
                                <source
                                srcset="./img_01/img_01-web-600-600.png"
                                type="image/jpg"
                                media="all and (max-width:600px)"
                                />
                                <source
                                srcset="./img_03/img_01-web-1500-1000.png"
                                type="image/jpg"
                                media="all and (min-width:601px) and (max-width:1200px)"
                                />
                                <source
                                srcset="./img_03/img_01-web-1500-1000.png"
                                type="image/jpg"
                                media="all and (min-width:1201px)"
                                />

                                <img src="./img_03/img_01-web-1500-1000.png" alt="">
                            </picture>
                        </figure>
                    </li>
                    
                    <li>
                        <figure>
                            <picture>
                                <source
                                srcset="./img_01/img_02-web-600-600.png"
                                type="image/jpg"
                                media="all and (max-width:600px)"
                                />
                                <source
                                srcset="./img_03/img_02-web-1500-1000.png"
                                type="image/jpg"
                                media="all and (min-width:601px) and (max-width:1200px)"
                                />
                                <source
                                srcset="./img_03/img_02-web-1500-1000.png"
                                type="image/jpg"
                                media="all and (min-width:1201px)"
                                />

                                <img src="./img_03/img_01-web-1500-1000.png" alt="">
                            </picture>
                        </figure>
                    </li>
                </ul>
                <ul id="ban-cont_02-ul_02">
                    <li>
                        <figure>
                            <picture>
                                <source
                                srcset="./img_01/img_03-web-600-600.png"
                                type="image/jpg"
                                media="all and (max-width:600px)"
                                />
                                <source
                                srcset="./img_03/img_03-web-1500-1000.png"
                                type="image/jpg"
                                media="all and (min-width:601px) and (max-width:1200px)"
                                />
                                <source
                                srcset="./img_03/img_03-web-1500-1000.png"
                                type="image/jpg"
                                media="all and (min-width:1201px)"
                                />

                                <img src="./img_03/img_03-web-1500-1000.png" alt="">
                            </picture>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <picture>
                                <source
                                srcset="./img_01/img_04-web-600-600.png"
                                type="image/jpg"
                                media="all and (max-width:600px)"
                                />
                                <source
                                srcset="./img_03/img_04-web-1500-1000.png"
                                type="image/jpg"
                                media="all and (min-width:601px) and (max-width:1200px)"
                                />
                                <source
                                srcset="./img_03/img_04-web-1500-1000.png"
                                type="image/jpg"
                                media="all and (min-width:1201px)"
                                />

                                <img src="./img_03/img_04-web-1500-1000.png" alt="">
                            </picture>
                        </figure>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    
    <section id="banner-mob">

        <div id="mob-ban_01">
            <div id="mob-ban_01-sub">
                <h1><span id="wlc-mob">WELLCOME TO</span><span><br></span><span id="gf-mob">G Formula</span><span><br><br></span><span><p id="gf_p-mob">A NEW PLATEFORM OF NORTH EAST INDIA BUILT FOR BUILDING YOU THE WAY TO SUCCESS</p></span><span><br></span><button id="joi_btnn-mob">JOiN US</button></h1>
            </div>
        </div>
        
        <section id="layout-mob">
            <section class="layout_01-mob">
                <ul id="layout_01-mob-sub_01">
                    <li>
                        <figure>
                            <picture>
                                <source
                                srcset="./img_01/img_01-web-600-600.png"
                                type="image/jpg"
                                media="all and (max-width:600px)"
                                />
                                <source
                                srcset="./img_02/img_01-web-1000-500.png"
                                type="image/jpg"
                                media="all and (min-width:601px) and (max-width:1200px)"
                                />
                                <source
                                srcset="./img_03/img_01-web-1500-1000.png"
                                type="image/jpg"
                                media="all and (min-width:1201px)"
                                />

                                <img src="./img_03/img_01-web-1500-1000.png" alt="">
                            </picture>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <picture>
                                <source
                                srcset="./img_01/img_02-web-600-600.png"
                                type="image/jpg"
                                media="all and (max-width:600px)"
                                />
                                <source
                                srcset="./img_02/img_02-web-1000-500.png"
                                type="image/jpg"
                                media="all and (min-width:601px) and (max-width:1200px)"
                                />
                                <source
                                srcset="./img_03/img_02-web-1500-1000.png"
                                type="image/jpg"
                                media="all and (min-width:1201px)"
                                />

                                <img src="./img_03/img_01-web-1500-1000.png" alt="">
                            </picture>
                        </figure>
                    </li>
                </ul>
                <ul id="layout_01-mob-sub_02">
                    <li>
                        <figure>
                            <picture>
                                <source
                                srcset="./img_01/img_03-web-600-600.png"
                                type="image/jpg"
                                media="all and (max-width:600px)"
                                />
                                <source
                                srcset="./img_02/img_03-web-1000-500.png"
                                type="image/jpg"
                                media="all and (min-width:601px) and (max-width:1200px)"
                                />
                                <source
                                srcset="./img_03/img_03-web-1500-1000.png"
                                type="image/jpg"
                                media="all and (min-width:1201px)"
                                />

                                <img src="./img_03/img_03-web-1500-1000.png" alt="">
                            </picture>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <picture>
                                <source
                                srcset="./img_01/img_04-web-600-600.png"
                                type="image/jpg"
                                media="all and (max-width:600px)"
                                />
                                <source
                                srcset="./img_02/img_04-web-1000-500.png"
                                type="image/jpg"
                                media="all and (min-width:601px) and (max-width:1200px)"
                                />
                                <source
                                srcset="./img_03/img_04-web-1500-1000.png"
                                type="image/jpg"
                                media="all and (min-width:1201px)"
                                />

                                <img src="./img_03/img_04-web-1500-1000.png" alt="">
                            </picture>
                        </figure>
                    </li>
                </ul>
            </section>
        </section>
    </section>








    <!-- ********************************************************************************** -->
    <!--            NAV-bar  (Desktop)              -->
    <!-- ********************************************************************************** -->









    <section  id="navs">
        <nav id="nav-main">
            <ul id="nav-sub-ul">
                <ul id="nav_ul-sub_01">
                    <li id="bann"><img src="./img/logo.png" alt="" id="bann-img" style="position: relative;width: 100%;height: 90px;"></li>
                    <li id="nav-menu-btnn"><button><i id="nav-hand-barger" class="fas fa-bars"></i></button></li>
                </ul>
                <ul id="nav_ul-sub_03"></ul>
                <ul id="nav_ul-sub_02">
                    <li>HOME</li>
                    <li>About Us</li>
                    <li>O&A</li>
                    <li>HELP</li>
                    <li>
                        <ul id="nav_ul-sub_02-sub">
                            <li><i class="fab fa-instagram"></i></li><br>
                            <li><i class="fab fa-facebook-f"></i></li><br>
                            <li><i class="fab fa-twitter"></i></li><br>
                        </ul>
                    </li>
                </ul>
            </ul>
        </nav>
    </section>


    <!-- ********************************************************************************** -->
    <!--            NAV-bar  (Mobile)              -->
    <!-- ********************************************************************************** -->

    <section id="nav-mobM">
        <section id="nav-mob">
            <div id="nav-mob-sub">
                <ul id="nav-mob-sub_ul">
                    <li class="nav-mob-sub-bran"><span id="nav-mob-sub-bran">G Formula</span><span><i id="cncl" class="fas fa-times"></i></span></li>
                    <a href="#"><li class="nav-mob-sub_ul-li"><span>HOME</span><span>></span></li><hr class="nav-mob-hr"></a>
                    <a href="#"><li class="nav-mob-sub_ul-li"><span>About Us</span><span>></span></li><hr class="nav-mob-hr"></a>
                    <a href="#"><li class="nav-mob-sub_ul-li"><span>O&A</span><span>></span></li><hr class="nav-mob-hr"></a>
                    <a href="#"><li class="nav-mob-sub_ul-li"><span>HELP</span><span>></span></li><hr class="nav-mob-hr"></a>
                    <li>
                        <ul id="nav-mob-sub_ul-sub">
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li><br>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li><br>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li><br>
                        </ul>
                    </li>
                </ul>
            </div>

        </section>
    </section>
    
    {{!-- ---------------------------------------------------------------------------------- --}}
    {{!-- ---------------------------------------------------------------------------------- --}}
    {{!-- ---------------------------------------------------------------------------------- --}}
    <section id="sec_02"  data-aos="fade-up" data-aos-duration="4000">
        <div id="sec_02-sub">
        <div id="sec_02M">
            <div id="sec_02-in">
                <div id="sec_02-in-sub_00">
                    <p>OUR ACHIVEMENTS</p>
                </div>
               <div class="sec_02-flx" id="sec_02-in-sub_01"> 

                    <ul class="sec_02-flex">
                        <li class="box">
                            <div class="percent">
                                <svg>
                                    <circle cx="40" cy="40" r="40"></circle>
                                    <circle cx="40" cy="40" r="40" class="ccl"></circle>
                                </svg>
                                <div class="number">
                                    <h2 class="num_inc" data-target="87"></h2><h2>%</h2>
                                    <br><br>
                                    <br><br><br><br><br>
                                </div>
                            </div>
                            <div class="sec_02-tag">
                                <p>Brands</p>
                            </div>

                        </li>
                        <li class="box">
                                <div class="percent">
                                    <svg>
                                        <circle cx="40" cy="40" r="40"></circle>
                                        <circle cx="40" cy="40" r="40" class="ccl"></circle>
                                    </svg>
                                    <div class="number">
                                        <h2 class="num_inc" data-target="87"></h2><h2>%</h2>
                                        <br><br>
                                        <br><br><br><br><br>
                                    </div>
                                </div>
                                <div class="sec_02-tag">
                                    <p>influencers <span><br></span> Incubated</p>
                                </div>

                        </li>
                        <li class="box">
                                <div class="percent">
                                    <svg>
                                        <circle cx="40" cy="40" r="40"></circle>
                                        <circle cx="40" cy="40" r="40" class="ccl"></circle>
                                    </svg>
                                    <div class="number">
                                        <h2 class="num_inc" data-target="87"></h2><h2>%</h2>
                                        <br><br>
                                        <br><br><br><br><br>
                                    </div>
                                </div>
                                 <div class="sec_02-tag">
                                    <p>Companies</p>
                                </div>

                        </li>
                    </ul>
                </div>
                <div class="sec_02-flx" id="sec_02-in-sub_01"> 
                    <ul class="sec_02-flex">
                        <li class="box">
                            <div class="percent">
                                <svg>
                                    <circle cx="40" cy="40" r="40"></circle>
                                    <circle cx="40" cy="40" r="40" class="ccl"></circle>
                                </svg>
                                <div class="number">
                                    <h2 class="num_inc" data-target="87"></h2><h2>%</h2>
                                    <br><br>
                                    <br><br><br><br><br>
                                </div>
                            </div>
                            <div class="sec_02-tag">
                                <p>Job <span><br></span> Provided</p>
                            </div>
                    </li>
                        <li class="box">
                            <div class="percent">
                                <svg>
                                    <circle cx="40" cy="40" r="40"></circle>
                                    <circle cx="40" cy="40" r="40" class="ccl"></circle>
                                </svg>
                                <div class="number">
                                    <h2 class="num_inc" data-target="87"></h2><h2>%</h2>
                                    <br><br>
                                    <br><br><br><br><br>
                                </div>
                            </div>
                            <div class="sec_02-tag">
                                <p>Events</p>
                            </div>
                    </li>
                        <li class="box">
                            <div class="percent">
                                <svg>
                                    <circle cx="40" cy="40" r="40"></circle>
                                    <circle cx="40" cy="40" r="40" class="ccl"></circle>
                                </svg>
                                <div class="number">
                                    <h2 class="num_inc" data-target="87"></h2><h2>%</h2>
                                    <br><br>
                                    <br><br><br><br><br>
                                </div>
                            </div>
                            <div class="sec_02-tag">
                                <p>Youth <span><br></span> Reached</p>
                            </div>
                    </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <svg style="position: absolute; overflow-x: hidden !important; height:0px !important; width:0% !important;">
        <defs>
            <linearGradient id="GradientColor">
               <stop offset="0%" stop-color="#0f5757"/>
               <stop offset="100%" stop-color="#166a58"/>
            </linearGradient>
         </defs>
    </svg>
    {{!-- ---------------------------------------------------------------------------------- --}}
    {{!-- ---------------------------------------------------------------------------------- --}}
    {{!-- ---------------------------------------------------------------------------------- --}}
    
    <section id="services" data-aos="fade-up" data-aos-duration="4000">
        <div id="service-head">
            <p class="service-head_00">OUR SERVICES<p><br>
            <p class="service-head_01">What do <span class="service-head_01-sub">We</span> provide <span class="service-head_01-sub">You</span></p><br>
            <p class="service-head_02">At  vero  eos  et  accusamus  et  iusto  odio  dignissimos  ducimus  qui  blanditiis  praesentium  <span><br></span> voluptatum  deleniti  atque  corrupti  quos  dolores</p>
        </div>
        <br>
        <section id="serv_01">      <!--display flex-->
            <div id="serv_01-sub" > <!--max width 700pxs--> <!--2 ul-->
                <ul class="serv_01_ul_main">
                    <ul class="serv_01_ul-sub">
                        <li class="serv_01_li b-down b-right "> <div><img src="img/2.png" alt="img.." style="width: 150px;height: 150px;"></li>
                        <li class="serv_01_li b-down _s_01" id=""> <div><img src="img/2.png" alt="img.." style="width: 150px;height: 150px;"></li>
                    </ul>
                    <ul class="serv_01_ul-sub serv_li_00-b">
                        <li class="serv_01_li b-down b-right"> <div><img src="img/2.png" alt="img.." style="width: 150px;height: 150px;"></li>
                        <li class="serv_01_li b-down"> <div><img src="img/2.png" alt="img.." style="width: 150px;height: 150px;"></li>
                    </ul>
                </ul>
                <ul class="serv_01_ul_main">
                    <ul class="serv_01_ul-sub _s_02">
                        <li class="serv_01_li b-right"> <div><img src="img/2.png" alt="img.." style="width: 150px;height: 150px;"></li>
                        <li class="serv_01_li _s_01"> <div><img src="img/2.png" alt="img.." style="width: 150px;height: 150px;"></li>
                    </ul>
                    <ul class="serv_01_ul-sub">
                        <li class="serv_01_li b-right"> <div><img src="img/2.png" alt="img.." style="width: 150px;height: 150px;"></li>
                        <li class="serv_01_li"> <div><img src="img/2.png" alt="img.." style="width: 150px;height: 150px;"></li>
                    </ul>
                </ul>
            </div>
        </section>
        <br>
        <div id="serv_btnn">
            <button><a href="#">Read More  ></a></button>
        </div>
    </section>
    <section id="sec_03" data-aos="fade-up-right" data-aos-duration="4000">
        <section id="_sec_03M">
            <div id="_sec_03M-sub"  data-aos="fade-up-left" data-aos-duration="4000">   <!--flex-->
                <div id="_sec_03-cont_00">
                    <p id="sec_03_p_01">UNLIMITED DEALS</p>
                    <P id="sec_03_p_02">Join Us Explore Our Categories</P>
                    
                </div>
                <div id="sec_03-btnnM">
                    <br>
                    <p id="sec_03_p_03">Explore some of the best deals</p>
                    <br>
                    <button id="sec_03-btnn">EXPLORE</button>
                </div>

            </div>
        </section>  
    </section>
    <section id="sec_04" data-aos="fade-up" data-aos-duration="4000">
        <section id="sec_04M">
            <section id="sec_04H">
                <p class="sec_04H_p_01 of-hidden"  data-aos="fade" data-aos-duration="4000"><span class="px2"></span> Explore Our Categories</p>
                <p class="sec_04H_p_02 of-hidden"  data-aos="fade" data-aos-duration="4000"><span class="px2"></span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non, beatae!</p>
             </section>
             <br>
             <section id="sec_04Mcard" class="of-hidden">
                <div class="_2div_card of-hidden"  data-aos="flip-right" data-aos-duration="4000">
                    <div class="_2dcard_01"><i class="fas fa-user-tie"></i></div>
                    <div class="_2dcard_02">
                        <p class="_2dcard_02_p_01">Squadhelp </p>
                        <br> 
                       <p class="_2dcard_02_p_02">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
                    </div>
                </div>
                <div class="_2div_card of-hidden"  data-aos="flip-up" data-aos-duration="4000">
                    <div class="_2dcard_01"><i class="fas fa-user-tie"></i></div>
                    <div class="_2dcard_02">
                        <p class="_2dcard_02_p_01">Squadhelp </p>
                        <br> 
                       <p class="_2dcard_02_p_02">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
                    </div>
                </div>
                <div class="_2div_card of-hidden"  data-aos="flip-left" data-aos-duration="4000">
                    <div class="_2dcard_01"><i class="fas fa-user-tie"></i></div>
                    <div class="_2dcard_02">
                        <p class="_2dcard_02_p_01">Squadhelp </p>
                        <br> 
                       <p class="_2dcard_02_p_02">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
                    </div>
                </div>
                <div class="_2div_card of-hidden"  data-aos="flip-right" data-aos-duration="4000">
                    <div class="_2dcard_01"><i class="fas fa-user-tie"></i></div>
                    <div class="_2dcard_02">
                        <p class="_2dcard_02_p_01">Squadhelp </p>
                        <br> 
                       <p class="_2dcard_02_p_02">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
                    </div>
                </div>
            </section>
        </section>
    </section>
</body>
{{>footer}}