        @import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
        *{
            padding: 0%;
            margin: 0%;
            scroll-behavior: smooth;
        }
        .dsply-block{
            display: block;
        }
        html{
            font-size: 62.5%;
            overflow-y: scroll;
        }
        #fst-cont{
            height: 100vh;
            width: 100%;
            background: url(../img/youth.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            /* font-family: 'Lobster','Lobster Two', cursive; */
            /* font-family: 'Lobster','Lobster Two', cursive; */
            /* font-family: Vidaloka","serif"; */
        }
        #sec-cont{
            height: 100%;
            width: 100%;
            background: rgba(95, 40, 120, 0.782);
        }
        #thir-cont{
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color:rgb(250, 252, 253);
            background:linear-gradient(180deg,rgba(255, 255, 255, 0.333)2%,rgba(0, 0, 0, 0.544))100% ;
        }
        #q_0{
            text-align: center;
            font-size: 6rem;
            text-shadow: 3px 2px rgb(120, 115, 119);
            font-family: 'Oswald', sans-serif;
        }
        #q_0-sub{
            text-align: center;
            margin: 1rem;
            font-size: 2.5rem;
            font-weight: 900;
            word-spacing: 0.4vw;
            font-family: 'Oswald', sans-serif;
        }
        #_g{
            color: rgba(255, 255, 255, 0);
            font-weight: 1200;
            font-size: 10rem;
            /* color: rgba(0, 255, 255, 0.551); */
            -webkit-text-stroke: 0.1vw rgba(255, 209, 2, 0.952);
            -webkit-text-stroke-width: 0.4rem;
            /* cursor: pointer; */

            text-shadow: 0px 0px rgba(148, 241, 82, 0);
        }
        #thir-cont-sub_01{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .thir-cont-sub-btnn{
            font-size: 2.4rem;
            padding: 3px;
            color: rgb(217, 163, 38);
            border: 2px solid rgba(255, 255, 255, 0.68);
            background: rgba(76, 76, 72, 0);
            cursor: pointer;
            /* animation: go-come 3s 3 ; */
            /* animation: go-come 4s 2 1s; */
            /* box-shadow: ; */
        }
        .thir-cont-sub-btnn:hover{
            /* background: #1ec8e653; */
            /* animation: thir-cont-sub-btnn 2s; */
            animation: thir-cont-sub-btnn 2s linear 0s 1;
            background: #1ec8e653;
        }
        .go-come{
            animation: go-come 4s 2 1s;
        }
        @keyframes nav-li-hvr {
            0%{
                font-size: 2rem ;
                
            }
            25%{
                font-size: 2.05rem;
                color: rgb(143, 38, 241);
            }
            50%{
                font-size: 2.2rem;
                color: rgb(143, 38, 241);
            }
            75%{
                font-size: 2.25rem;
                color: rgb(143, 38, 241);
            }
            100%{
                font-size: 2.5rem;
                color: rgb(143, 38, 241);
            }
        }
        @keyframes thir-cont-sub-btnn {
            0%{
                background: rgba(76, 76, 72, 0);
            }
            100%{
                background: #1ec8e653;
            }
        }
        @keyframes go-come {
            0% {
                 transform: rotate(
            0deg
            );
                left: 0px;
            }
            25% {
                transform: rotate(
            20deg
            );
                left: 0px;
            }
            50% {
                transform: rotate(
            0deg
            );
                left: 500px;
            }
            55% {
                transform: rotate(
            0deg
            );
                left: 500px;
            }
            70% {
                transform: rotate(
            0deg
            );
                left: 500px;
                background: #1ec8e653;
                color:rgb(217, 163, 38) ;
            }
            100% {
                transform: rotate(
            -360deg
            );
                left: 0px;
            }
            
        }
        @media (max-width:998px) { html{
            font-size: 55%;
        }}
        @media (max-width:836px) {html{
            font-size: 45%;
        }
            
        }
        @media (max-width:768px) { html{
            font-size: 45%;
        }}
        #nav{
            display: flex;
            position: absolute;
            padding-top: 2rem;
            width: 100%;
            /* background:white ; */
        }
        #nav #main{
            flex:4;
            display: flex;
            justify-content: space-evenly;
        }
        #nav a{
            text-decoration: none;
            color:rgb(247, 247, 247) ;
        }
        #nav a:hover{
            /* color: white; */
            /* animation: nav-li-hvr 0.5s 1; */
            font-size: 2.5rem ;
            color: rgb(143, 38, 241);
        }
        #nav li{
            list-style: none;
            font-size: 2.5rem;
        }
        #brand{
            flex: 3;
            font-size: 2.5rem;
            display: flex;
            justify-content: center;
            color: white;
            cursor: pointer;
        }
        #nav #signin a, #nav #signin{
            font-size: 2.5rem;
            background: rgba(253, 253, 253, 0);
            border: purple;
            color: rgb(250, 189, 21);
            text-shadow: 3px 2px rgb(0, 0, 0);
        }

        /* ******************************************************8 */
        ::-webkit-scrollbar {
            width: 0.5rem;
            background: #fff;
        }

        /* Track */
        ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 2px grey; 
        /* border-radius: 10px; */
        }
        
        /* Handle */
        ::-webkit-scrollbar-thumb {
            
            background: rgb(34, 36, 42);
        /* border-radius: 10px; */
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            width: 2px;
        }

        #nav-handel{
            outline: none;
            background:rgba(255, 255, 255, 0) ;
            border: 2px solid rgba(255, 255, 255, 0);
            margin-right: 2rem;
            display: none;
            cursor: pointer;
        }
        
        #nav-handel i{
            background: rgba(0, 0, 0, 0);
            font-size: 3.5rem;
        }
        .main-br{
                display: none;
            }
        @media (max-width:700px) {
            #nav{
                background: rgb(134, 19, 105);
            }
            #nav #main{
                flex-direction: column;
            }
            /* #nav #main  */.main-active{
                height: 100vh;
                display: block;
            }
            #nav-handel{
                order: 1;
                display: block;
            }
            .main-br{
                display: block;
            }
            /* #nav #main .main-sub-li{
                 display: none;
            } */
            .dsply-non{
            display:none;
        }
        #main-sub-li_01{display: none;}
        #main-sub-li_02{display: none;}
        #main-sub-li_03{display: none;}
        #main-sub-li_04{display: none;}
        #main-sub-li_05{display: none;}
        #main-sub-li_06{display: none;}
        .active{
            display: block !important;
        }
        .p-fix{
            position: fixed;
        }
        }
/* **********************************************************************************************************8 */
/* **********************************************************************************************************8 */
/* **********************************************************************************************************8 */

li{
    list-style: none;
}
#sec_02{
    background: url(../img/1255561.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100vw;
}
#sec_02 h2{
    font-size: 3rem;
}
#sec_02-sub{
    position: relative;
     width: 100%;   
     height: 100%;
     background: rgba(21, 18, 46, 0.83);
     display: flex;
    justify-content: center;
    align-items: center;
    }
#sec_02M{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sec_02-in{     /************************/
    display: flex;
    flex-direction: column;
    color: rgba(222, 184, 135, 0);
    flex: 1;
} 
.sec_02-flex{
    display: flex;
    justify-content: space-around;
    /* justify-content: center; */
    align-items: center;
    flex: 1;
    /* justify-content: ; */
}
#sec_02-in-sub_01{ padding: 30px;display: flex;justify-content: space-around;}
#sec_02-in-sub_00{ padding: 30px;display: flex;justify-content: space-around;}
#sec_02-in-sub_02{ padding: 30px;display: flex;justify-content: space-around;}

.percent,.percent svg{display: flex;justify-content: center;}

/* **********************************************************************************************************8 */

.box .percent svg{
    position: relative;
max-width: 92px;
min-width: 10px;
max-height: 92px;
min-height: 10px;
    }
    .box .percent svg circle{
        width: 40px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        fill: none;
        stroke-width: 10;
        stroke: url(#GradientColor);
        transform: translate(5px,5px);
        /*  */
        stroke-dasharray: 440;
        stroke-dashoffset:440;
        stroke-linecap: round ;
        animation: anim 3.4s linear 3s forwards;
        /* animation: anim 3.5s linear forwards; */
        box-shadow: 6px 6px 10px -1px rgb(79, 54, 54);

    }
    .box .percent svg circle:nth-child(1){
        stroke-dashoffset: 0;
        stroke: #f3f3f300;
        
    }
    .box .percent svg circle:nth-child(2){
        /* stroke-dashoffset: 440; */
        stroke: url(#GradientColor);
        /* animation: anim 5s linear 0s 1; */
        /* stroke-dashoffset: 0; */
    }
    
    #sec_02-in-sub_00 ul{
        width: 50px !important;
    }
    circle{
        box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                    -6px -6px 10px-1px rgba(255,255,255,0.7);
    }
    @keyframes anim {
        100%{
            stroke-dashoffset: 0;
        }
    }
    #sec_02-in-sub_01{ padding: 0px;display: flex;justify-content: space-around;padding-top: 30px;padding-bottom: 30px;}
    #sec_02-in-sub_00{ padding: 0px;display: flex;justify-content: space-around;padding-top: 30px;padding-bottom: 30px;}

/* **********************************************************************************************************8 */


 .box{
        position: relative;
        /* width: 300px; */
        /* height: 300px; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: rgba(255, 255, 255, 0);
        box-shadow: 0 30px 60px rgba(0,0,0,.2);
    }
    .percent{
        display: flex;
        justify-content: center;
        align-items: center;
    }
.number{
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

/* ****************************************************************************************************** */
/* ****************************************************************************************************** */
/* ****************************************************************************************************** */
        @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Engagement&family=Lato:wght@100;300&display=swap');
        #service-head{
            align-items: center;
            text-align: center;
        }
        #service-head .service-head_01{
            font-size: 5rem;
        }

        #service-head .service-head_02{
            font-size: 3rem;
            font-family: 'Engagement', cursive;
            /* color: rgb(128, 128, 128); */
            color: rgb(102, 102, 102);
        }

        #service-head .service-head_00{
            font-family: 'Lato', sans-serif;
            font-size: 3rem;
        }
        #services{
            margin-top: 15vh;
            margin-bottom: 15vh;
        }
        #serv_01 .fas{
           font-size: 4rem;
       }
        #serv_01 {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            /* justify-content: space-around; */
        }
        .serv_01{
            color: rgb(143, 38, 241);
            margin-top: 3rem;
            margin-bottom: 3rem;
            min-width: 280px;
            max-width: 300px;
            margin: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .serv_01-head{
            font-size: 3rem;
            color: black;
        }
        .serv_01-p{
            font-size: 1.5rem;
            color:rgb(89, 89, 89);
        }
        .service-head_01-sub{
            color: limegreen;
        }
    /* **************************************************************************************************** */
    /* **************************************************************************************************** */
    /* **************************************************************************************************** */
    
    
    
    #sec_03{
        height: 70vh;
        width: 100%;
        overflow: hidden;
    }
    #_sec_03M{
        width: 100%;
        height: 100%;
        background: url(../img/footer.jpg) fixed;
            background-size: cover;
            background-repeat: no-repeat;
        background-position: center;
        display: flex;
        align-items: center;
        /* justify-content: center; */
        padding: 0px 15rem;
        overflow: hidden;
    }
    #_sec_03M-sub{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    #_sec_03-cont_00{
        /* flex: 1; */
        min-width: 280px;
        max-width: 70rem !important;
        text-align: left;
        border-left: 0.4rem solid rgb(143, 38, 241);
        padding-left: 4rem;
    }
    #_sec_03-cont_00 #sec_03_p_01{
        font-size: 3rem;
        color: rgb(143, 38, 241) ;
    }
    #_sec_03-cont_00 #sec_03_p_02{
        font-size: 6rem;
        color: #fff;
    }
    #sec_03-btnnM #sec_03_p_03{
        font-size: 2.5rem;
        color: #fff;
    }
    #sec_03-btnnM{
        flex: 1;
        width: 100%;
    }
    #sec_03-btnn{
        float: left !important;
        text-align: left;
        align-items: flex-start;
        padding: 1rem 1rem;
        font-size: 2rem;
        border-radius: 30px;
        color: #fff;
        /* background: rgb(143, 38, 241); */
        background: rgba(164, 163, 165, 0.329);
        border: 2px solid rgb(143, 38, 241);
        /* border: 2px solid #fff; */
        font-weight: 900;
        cursor: pointer;
    }
    
    @media (max-width:570px) {
        #_sec_03M{
            padding: 2rem;
        }
        #_sec_03-cont_00 #sec_03_p_01{
        font-size: 2.5rem;
    }
    #_sec_03-cont_00 #sec_03_p_02{
        font-size: 4rem;
    }
    #sec_03-btnnM #sec_03_p_03{
        font-size: 2.5rem;
    }
    #_sec_03-cont_00{
        padding: 2.5rem;
    }
    }

    
    
    /* **************************************************************************************************** */
    /* **************************************************************************************************** */
    /* **************************************************************************************************** */
        #sec_04{
            display: flex;
            justify-content: center;
            background: rgba(238, 237, 237, 0.678);
            padding-top: 5rem;
            padding-bottom: 5rem;
        }
        #sec_04M{
            flex: 1;
            padding: 5rem;
            max-width: 1000px;
            min-width: 280px;
            background: navajowhite;
            /* display: flex;

            flex-direction: column;
            justify-content: flex-start;
            align-items: center; */
        }
        #sec_04Mcard{
            flex: 1;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        ._2div_card{
            padding: 30px;
            cursor: pointer;
            width: 280px;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            justify-content: center;
            text-align: center;
            background: #fff;
            border: 2px solid rgba(255, 255, 255, 0);
            outline: none;
            box-shadow: 5px 10px 18px #888888;
            margin: 1.3rem;
        }
        .px2{width: 2px !important; border: 4px solid rgba(218, 218, 218, 0); }
        ._2dcard_01 .fas{   font-size: 3rem;}
        .sec_04H_p_01   {   font-size: 4rem;}
        .sec_04H_p_02   {   font-size: 2.5rem;}
        ._2dcard_02_p_01{   font-size: 3rem;}
        ._2dcard_02_p_02{   font-size: 1.5rem;}
        @media (max-width:506px) {
            #sec_04Mcard{
                flex-direction: column;
            }
            #_fotrM{
                flex-direction: column;
            }
            #sec_04M{
                padding-right: 1px;
                padding-left: 1px;
            }
        }
        @media (max-width:280px) {
            html{
                font-size: 30%;
            }
            ._2div_card{
                margin: 0%;
                /* min-width: 200px; */
                
            }
            #sec_04Mcard{padding: 0%;}
            #sec_04M{
                padding: 0%;
            }
        }
        @media (max-width:686px) {
            #sec_04Mcard{
                flex-direction: column;
            }
        }
    /* **************************************************************************************************** */
    /* **************************************************************************************************** */
    /* **************************************************************************************************** */
        #fotr{  display: flex; justify-content: center; padding-top: 2.5rem; padding-bottom: 2.5rem; background: black;}
        #_fotrM{flex: 1;display: flex; max-width: 1000px; padding-top: 2.5rem; padding-bottom: 2.5rem; line-height: 3rem;}
        #_fotrM_cont_01{margin: 1.3rem; flex: 1; padding: 1.3rem; }
        #_fotrM_cont_02{margin: 1.3rem; flex: 1; padding: 1.3rem;}
        #_fotrM_cont_03{margin: 1.3rem; flex: 1; padding: 1.3rem;}
        #_fotrM_cont_02-sub{flex: 1; display: flex; flex-direction: row;}
        ._fotrM_cont_02-sub_cls{flex: 1;}
        ._fotr_p-head{ font-size: 2rem; font-weight: 600;color: rgb(255, 255, 255);}
        ._fotr_p-body{ font-size: 1.5rem; font-weight: 600;color: rgb(52, 58, 64);}
        #_fotrM_cont_02-sub li,#_fotrM_cont_02-sub a { text-decoration: none;list-style: none;color: rgb(52, 58, 64);}
        #icons{ color: aqua;display: flex; flex-direction: row;justify-content: space-evenly;}
        #icons div i{font-size: 3rem;}
        #copyrights{text-align: center; padding: 2rem;background: rgb(126, 126, 126);}
        .copyrights{font-size: 1.5rem; font-weight: 600;color: rgb(52, 58, 64);}
    /* **************************************************************************************************** */
    /* **************************************************************************************************** */
    /* **************************************************************************************************** */

