<section  id="navs">
        <nav id="nav-main">
            <ul id="nav-sub-ul">
                <ul id="nav_ul-sub_01">
                    <li id="bann"><img src="./img/logo.png" alt="" id="bann-img" style="position: relative;width: 100%;height: 90px;"></li>
                    <li id="nav-menu-btnn"><button><i id="nav-hand-barger" class="fas fa-bars"></i></button></li>
                </ul>
                <ul id="nav_ul-sub_03"></ul>
                <ul id="nav_ul-sub_02">
                    <li>HOME</li>
                    <li>About Us</li>
                    <li>O&A</li>
                    <li>HELP</li>
                    <li>
                        <ul id="nav_ul-sub_02-sub">
                            <li><i class="fab fa-instagram"></i></li><br>
                            <li><i class="fab fa-facebook-f"></i></li><br>
                            <li><i class="fab fa-twitter"></i></li><br>
                        </ul>
                    </li>
                </ul>
            </ul>
        </nav>
    </section>


    <!-- ********************************************************************************** -->
    <!--            NAV-bar  (Mobile)              -->
    <!-- ********************************************************************************** -->

    <section id="nav-mobM">
        <section id="nav-mob">
            <div id="nav-mob-sub">
                <ul id="nav-mob-sub_ul">
                    <li class="nav-mob-sub-bran"><span id="nav-mob-sub-bran">G Formula</span><span><i id="cncl" class="fas fa-times"></i></span></li>
                    <a href="#"><li class="nav-mob-sub_ul-li"><span>HOME</span><span>></span></li><hr class="nav-mob-hr"></a>
                    <a href="#"><li class="nav-mob-sub_ul-li"><span>About Us</span><span>></span></li><hr class="nav-mob-hr"></a>
                    <a href="#"><li class="nav-mob-sub_ul-li"><span>O&A</span><span>></span></li><hr class="nav-mob-hr"></a>
                    <a href="#"><li class="nav-mob-sub_ul-li"><span>HELP</span><span>></span></li><hr class="nav-mob-hr"></a>
                    <li>
                        <ul id="nav-mob-sub_ul-sub">
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li><br>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li><br>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li><br>
                        </ul>
                    </li>
                </ul>
            </div>

        </section>
    </section>