<footer>
    <section id="fotr">
        <section id="_fotrM">
            <div id="_fotrM_cont_01">
               <p class="_fotr_p-head">LISTINGS</p>
               <br>
                <p class="_fotr_p-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
            </div>
            <div id="_fotrM_cont_02">
                <p class="_fotr_p-head">useflu links</p>
                <br>
                <div id="_fotrM_cont_02-sub" class="_fotr_p-body">
                <ul class="_fotrM_cont_02-sub_cls">
                    <li><a href="#">Tools</a></li> 
                    <li><a href="#">Resources</a></li> 
                    <li><a href="#">About us</a></li> 
                    <li><a href="#">Write to us</a></li> 
                </ul>
                <ul class="_fotrM_cont_02-sub_cls">
                   <li><a href="#">Privacy Policy </a></li>
                   <li><a href="#">Cookie Policy </a></li>
                   <li><a href="#">Terms of Servi </a></li>
                </ul>
                </div>
            </div>
            <div id="_fotrM_cont_03">
                <p class="_fotr_p-head">Newsletter</p>
                <br>
                <p class="_fotr_p-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
            </div>
        </section>
    </section>
    <section id="copyrights">
        <p class="copyrights">copy rights reserved</p>
    </section>
</footer>
<script src="js/index.js"></script>
</html>