<header>
    <section id="load">
        <div id="loadM">
            <div id="loadW">
                <div id="inner_01"></div>
                <div id="inner_02"></div>
                <div id="inner_03"></div>
                <div id="inner_04"></div>
                <div id="inner_05"></div>
                <div id="inner_06"></div>
                <div id="inner_07"></div>
                <div id="inner_08"></div>
            </div>
        </div>
    </section>
</header>